@charset "utf-8";
 * {
        margin: 0;
        padding: 0;
      }
      ul {
        list-style: none;
      }
      .menu {
        display: flex;
        background: #333;
      }
      .menu > li {
        position: relative;
      }
      .menu > li > a {
        display: block;
        padding: 15px 30px;
        color: #fff;
        text-decoration: none;
      }
      .submenu {
        display: none;
        position: absolute;
        top: 54px;
        left: 0;
        background: #555;
        width: 150px;
      }
      .submenu.active {
        display: block;
      }
      .submenu li a {
        display: block;
        padding: 10px;
        color: #fff;
      }
      .submenu li a:hover {
        background: #777;
      }