@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  background-color: #efefef;
}
ul {
  list-style: none;
}
.menu {
  margin-left: auto;
  width: 500px;
  display: flex;
  background: #333;
}
.menu > li {
  position: relative;
  width: calc(100% / 3);
}
.menu > li > a {
  width: 100%;
  display: block;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
}
.submenu {
 
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  background: #444;
  width: calc((500px - 180px) / 3);
  z-index: 99;
}
.submenu.active {
  display: block;
}
.submenu li a{
  display: block;
  padding: 10px 30px;
  color: #fff;
}
.submenu li:hover {
  background: #777;
}
.headerBg {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 132px;
  background-color: #444;
  z-index: 9;
  display: none;
}