@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #222;
  line-height: 1;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  /* display: block; */
  color: #222;
}
i {
  display: block;
}
button {
  all: unset;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
/*  */
 /* modal */
      #modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9;
        display: none;
      }
      #modal.active {
        display: block;
      }
      .modal-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 500px;
        line-height: 1.5;
      }
      .modal-btn {
        cursor: pointer;
      }
/*  */
.tabMenu {
  position: relative;
  background-color: #ddd;
  width: 1200px;
  margin: 100px auto;
}
.tabMenu > li {
  position: absolute;
}
.tabMenu > li > a {
  display: inline-block;
  width: 100px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}
.tabMenu > li.active > a {
  background-color: #222;
  color: #fff;
}
.tabMenu > li:last-child > a {
  position: absolute;
  left: 100px;
}
.tabMenu > li > div {
  background-color: #efefef;
  width: 700px;
  height: 168px;
  padding: 20px;
  display: none;
}
.notice-list > ul > li > a {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.notice-list > ul > li:nth-child(even) > a {
  background-color: #fff;
}
.tabMenu > li.active > div {
  display: block;
}
/* gallery */
.gallery-list > ul {
  display: flex;
  gap: 16px;
}
.gallery-list{
    position: absolute;
    top: 40px;
}